{% extends "base.html" %}

{% block content %}

<div class="centered faq-scroll">
    <div class="container container-table">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">About ForeverAlone</h3>
            </div>
            <div class="panel-body">
                ForeverAlone is a social experiment of sorts. Most dating sites present your appearance first and matching
                interests last. I mean I personally take <a href="http://i.imgur.com/KWhVmYk.jpg">horrible selfies</a>.
                I think that has turned online dating into a beauty contest rather than actually finding someone with
                similar interests. I believe having a medium where you can talk to someone who shares the interests
                you have - is a much better chance of making a real connection than
                <a href="https://media.giphy.com/media/aU2LaiYUBmSqY/giphy.gif">swiping right</a> on
                <a href="http://i.imgur.com/GxgT1WN.gif">every profile</a>. In the future ForeverAlone may allow you to
                show a picture after the chat has progressed for awhile but that is far into the future.
                <br>
                <br>
                Omegle, chatroulette, and others try to fill that niche but they are geared towards random connection
                rather than interest pairing.
                <br>
                <br>
                I'm not saying this service is designed to meet your future wife or husband. I'm saying this is a service
                where you can meet and talk to others who like Fallout 4, Android, Apple, technology, 3D printing, Counter Strike,
                etc. If you are an introvert like me, and there are dozens of us out there, making a new friend isn't
                always that easy.
            </div>
        </div>
    </div>
</div>

{% endblock %}